fieldset{
  background-color:rgb(230, 230, 217);
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid rgb(0, 0, 0,0.5);
  border: none;
}
.input, textarea, select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #bebebe;
  box-shadow: 4px 4px 5px rgb(201, 201, 120);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: #7a7a7a;
  border: none;
}
h1{
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    text-shadow: 2px 2px 3px rgb(0, 0, 0,0.5);
}
input[type=submit] {
  width: 100%;
  /* background-color: #4CAF50; */
  background: linear-gradient(45deg, rgb(0, 132, 0), rgb(57, 210, 1));
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 5px 6px 5px rgb(61, 141, 61);
}

input[type=submit]:hover {
  background-color: #45a049;
}
.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
input:hover{
  border: 1.5px #000;
  box-shadow: 0 0.2em 0.5em rgb(176, 176, 107);
}
textarea:hover{
  border: 1.5px #000;
  box-shadow: 0 0.2em 0.5em rgb(176, 176, 107);
}
select:hover{
  border: 1.5px #000;
  box-shadow: 0 0.2em 0.5em rgb(176, 176, 107);
}
input:focus{
  border: 1px #000;
  box-shadow: 0 0.2em 0.5em rgb(66, 66, 66);
}
textarea:focus{
  border: 1px #000;
  box-shadow: 0 0.2em 0.5em rgb(66, 66, 66);
}
select:focus{
  border: 1px #000;
  box-shadow: 0 0.2em 0.5em rgb(66, 66, 66);
}
  
  